* {
    margin: 0;
    font-size: 14px;
}

.main-page {
    font-family: sans-serif;
    background: #000;
    overflow: hidden;
    perspective: 200px;
}
.main-content{
    width: 1000px;
    margin: 0 auto;
    animation: intro 30s linear 1s 1;
    transform-origin: 50% 100%;
}

.intro-title{
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: yellow;
}

.main-text {
    text-transform: uppercase;
    line-height: 60px;
    margin-top: 100px;
    font-weight: 600;
    text-align: center;
    color: yellow;
    font-size: 60px;
}

@keyframes intro {
    0% {
        transform: rotateX(40deg) translateY(5500px) translateZ(0px) scale(4);
    }
    100% {
        transform: rotateX(45deg) translateY(-300px) translateY(-20000px) scale(4);
    }
}