* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header-zone{
    margin-bottom: 30px;
}

.head-link {
    font-size: 80px;
    color: #000000;
}

.deepbluesky-text {
    color: deepskyblue;
}

.top-menu-nav {
    text-align: center;
    width: 1280px;
    background-color: #35444F;
    margin-top: 30px;
}

.top-menu-link-first {
    border-left: 1px solid black;
}

 .top-menu-link {
     display: inline-block;
     color: white;
     font-size: 24px;
     padding: 25px 35px;
     border-right: 1px solid black;
}

.left-menu-nav {
    list-style: none;
    display: inline-block;
    width: 345px;
    color: black;
    border: 1px solid #000000;
    vertical-align: top;
}

.left-menu-item {
    padding: 25px 0 25px 35px;
}

.left-menu-link {
    font-size: 24px;
    color: black;

}

 .main-content {
     vertical-align: top;
     display: inline-block;
     width: 880px;
     margin-left: 50px;
 }

 .main-img-wraper {
     padding: 75px 270px;
     border: 1px solid #000000;
 }

.main-img {
    width: 100%;
}

.main-text {
    font-size: 18px;
    margin: 30px 0;
    line-height: 1.5;
}

.bottom-zone {
    padding: 25px 30px;
    background: rgba(99, 105, 110, 0.48);
}

.bottom-nav {
    display: inline-block;
    margin-right: 200px;
}

.bottom-nav-link {
    display: inline-block;
    margin: 0 15px;
    font-size: 24px;
    color: black;
}

.copyright {
    display: inline-block;
    font-size: 24px;
    text-align: right;
}