* {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header-page{
  &__navigation{
    display: flex;
    justify-content: flex-end;
    margin-top: $block-separation;
    cursor: pointer;
    position: relative;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

  }
  &__img{
    margin-top: $block-separation;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

}

.navigation {
  &__burger-nav{
    @include clearfix;
    width: 44px;
    height: $navbar-height;
    background-color: $background-item;
    @include flex-container;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__wrap-menu{
    display: none;
    &--active{
      display: block;
      position: absolute;
      right: 0;
      top: $navbar-height;

    }
    @media screen and (min-width: 768px) {
      margin-right: 50px;
      margin-left: 50px;
      position: static;
      display: flex;
      justify-content: space-around;
    }
  }

  &__item-menu{
    background-color: #F5F5F5;
    color: $title-color;
    text-transform: uppercase;
    padding: 13px 60px 13px 20px;
    &:hover {
      color: #57A4A4;
      background-color: #E5E5E5;;
    }
    @media screen and (min-width: 768px) {
      padding: 0;
      font-size: $subtitle-text-size-tablet;
      background-color: transparent;
      &:hover {
        color: #57A4A4;
        background-color: transparent;
      }
    }
  }
}

.navigation__hr{
  box-sizing: border-box;
  width: 17px;
  border-bottom: 1px solid #FFFFFF;
  display: block;
  &:before{
    @include burger-menu;
    border-bottom: 1px solid #FFFFFF;
  }
  &:after{
    @include burger-menu;
    border-top: 1px solid #FFFFFF;
  }
}




