.main-page{
  &__gallery{
    margin-top: 77px;
    margin-bottom: 38px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      padding-top: 47px;
      padding-bottom: 37px;
      background-color: rgba(0,0,0,0.03);
    }
  }
}

.article{
  &__title{
    margin-top: $block-separation;
    @include title-item;
  }
  &__article-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 70px;
    }
  }
}

.article-item{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  margin-top: $block-separation;
  @media screen and (min-width: 580px) {
    margin-right: 0;
    flex-direction: row;
  }

  &__content{
    @media screen and (min-width: 580px) {
      margin-left: 21px;
    }
  }
  &__comment:before{
   @include separator;
  }
  &__article-img{
    width: 160px;
  }
  &__title {
    font-weight: bold;
    margin-top: 14px;
    font-size: $title-text-size-mobile;
    color: $title-color;
    @media screen and (min-width: 768px) {
      font-size: $title-text-size-tablet;
    }
  }
  &__subtitle {
    margin-top: 5px;
    font-size: $subtitle-text-size-mobile;
    color: $subtitle-card-color;
    @media screen and (min-width: 768px) {
      font-size: $subtitle-text-size-tablet;
    }
  }
  &__discription {
    margin-top: 14px;
    width: 404px;
    display: none;
    font-size: 14px;
    color: #5C5C5C;
    @media screen and (min-width: 580px){
      display: block;
    }
  }

  &--hidden{
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.gallery{
  &__wrap-title{

    display: flex;
    justify-content: space-between;

  }
  &__title{
    vertical-align: middle;
    @include title-item;
  }
  &__link{
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      vertical-align: top;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      color: #4E4E4E;
    }

  }
}

.instagram-post{
  margin-top: 13px;
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 9px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 9px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 9px;
  }
  &__item{
    width: 100%;
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
  &__item:first-child{
    width: 100%;
    display: block;
  }
  &__item:nth-child(2){
    @media screen and (min-width: 520px) {
      display: block;
    }
  }
  &__item:nth-child(3){
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

}
