@mixin flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin separator {
  margin-right: 10px;
  margin-left: 10px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  border-right: 1px solid #B9B9B9;
  transform: rotate(15deg);
}

@mixin burger-menu {
  content: "";
  display: block;
  width: 17px;
  margin-bottom: 3px;
}

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin title-item {
  font-size: $title-text-size-mobile;
  text-transform: uppercase;
  color: $title-color;
  @media screen and (min-width: 768px) {
    font-size: $title-text-size-tablet;
  }
}