* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.top-menu-nav {
    text-align: center;
    padding: 25px 0;
}

.top-menu-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #ff0000;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2.7px;
    margin: 0 30px;
}

.img-head {
    width: 100%;
}

.main-section {
    text-align: center;
    padding: 45px 0;
}

.head-title {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.main-text {
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    line-height: 26px;
    margin: 50px 0;
}

.main-submit {
    display: inline-block;
    background-color: red;
    padding: 15px 45px 15px 45px;
    color: white;
    text-transform: uppercase;
}

.copyright-wrap {
    text-align: right;
    padding: 25px 0;
}

.copyright {
    letter-spacing: 2.4px;
    font-weight: bold;
    font-size: 16px;
}