.content {
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.header-zone {
    padding-top: 55px;
}

.company {
    display: inline-block;
    float: left;
}


.company:hover .company-img {
    content: url("../img/hover-img.png");
    color: #F26522;
}

.company:hover .company-text-bigger {
    color: #F26522;
}

.company:hover .company-text-smaller {
    color: #F26522;
}

.company-img {
    padding-right: 8px;
}

.company-text {
    display: inline-block;
}

.company-text-bigger {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: bold;
    color: white;
}

.company-text-smaller {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.contacts {
    float: right;
    text-align: right;
    display: inline-block;
}

.contacts-text {
    font-size: 18px;
    color: white;
}

.contacts-text:first-child {
    display: block;
    margin-bottom: 8px;
}

.contacts-text:hover {
    color: #F26522;
}

.tour-items {
    margin-top: 35px;
}

.tour-item {
    width: calc(100% / 3 - 62px);
    margin-right: 88px;
    float: left;
    display: inline-block;
    margin-bottom: 17px;
}

.tour-item:nth-child(3n) {
    margin-right: 0;
}

.tour-item:hover .tour-item-description {
    opacity: 1;
}

.shopping-tours-img {
    background-image: url("../img/shopping-tours.png");
}

.sightseeing-tours-img {
    background-image: url("../img/sightseeing-tours.png");
}

.food-tours-img {
    background-image: url("../img/food-tours.png");
}

.bars-nightlife-img {
    background-image: url("../img/bars&nightlife.png");
}

.art-architecture-img {
    background-image: url("../img/art&architecture.png");

}

.walking-tours-img {
    background-image: url("../img/walking-tours.png");
}

.tour-item-img {
    padding-top: 157px;
}

.tour-item-description {
    background-color: #F26522;
    opacity: 0;
    padding: 15px;
}

.tour-item-description-text {
    color: white;
}

.tour-item-price::before {
    content: "from";
    font-size: 10px;
    color: white;
    display: block;
}

.tour-item-price {
    float: left;
    font-size: 20px;
}

.tour-item-link {
    float: right;
    margin-top: 8px;
    font-size: 14px;
}

.tour-item-link::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border: 1px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(225deg);
}

.tour-item-name {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 17px;
}

.tour-item:hover .tour-item-name {
    color: #F26522;
}

.copyright-wrap {
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 43px 0;
}

.clearfix::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}