body {
    font-family: 'Arimo', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.table-items {
    padding: 25px;
    background-color: #3A4965;
}

.table-item {
    border-collapse: collapse;
    text-align: center;
    background-color: #FAFAFA;
}

.row-header {
    background-color: #FAFAFA;
}

.cell-head {
    padding: 25px 0 18px;
    border: 1px solid #EEEEEE;
    width: 280px;
}

.cell-head:nth-child(1){
    width: 313px;
}

.subject {
    color: #484848;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    vertical-align: middle;
}

.plan {
    display: block;
    font-size: 30px;
}

.standard {
    color: #FFFFFF;
    background-color: #89C331;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    border-color: #79B027;
}

.ultimate {
    color: #FFFFFF;
    background-color: #F04A56;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    border-color: #F04A56;
}

.premium {
    color: #FFFFFF;
    background-color: #20807C;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    border-color: #20807C;
}

.price-cell {
    color: #484848;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
}

.price-num {
    font-size: 60px;
    font-weight: bold;
    vertical-align: middle;
}

.price-coins {
    font-size: 24px;
    position: absolute;
    top: 17px;
}

.row-body {
    background-color: #F2F2F2;
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
}

.body-cell {
    border: 1px solid #EEEEEE;
    width: 280px;
    padding: 30px 0;
}

.row-body:nth-child(2n) {
    background-color: #E3E3E3;
}

.icon {
    margin-right: 10px;
    font-size: 24px;
    color: #848484;
}

.button-cell {
    padding: 30px 0;
}

.contact-button {
    width: 195px;
    background-color: #484848;
    padding: 20px 50px 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom: 10px solid  #404040;
}

.contact-button:hover {
    border-bottom: 0;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.standard-button {
    width: 195px;
    background-color: #89C331;
    padding: 20px 60px 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom: 10px solid #79B027;
}

.standard-button:hover {
    border-bottom: 0;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ultimate-button {
    width: 195px;
    background-color: #F04A56;
    padding: 20px 60px 10px;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border-bottom: 10px solid #DF3A46;
}

.ultimate-button:hover {
    border-bottom: 0;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.premium-button {
    width: 195px;
    padding: 20px 60px 10px;
    background-color: #20807C;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom: 10px solid #16736F;
}

.premium-button:hover {
    border-bottom: 0;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}